<div class= "movieObject" id ={{id}}>
    <div class ="title">{{title}}</div>
    <div class = "year">{{release_date}}</div>
    <div class = "cast">{{cast}}</div>
    <div>
        <img src = https://image.tmdb.org/t/p/w640{{poster_path}}>
    </div>
    <div class = "watched"></div>
    <div class = "rating"></div>
    {{!-- <button type="button">Delete</button> --}}
    <button type="button">Add to Watchlist</button>


</div>