<div class= "movieObject" id ={{id}}>
    <div class ="title">{{title}}</div>
    <div class = "year">{{release_date}}</div>
    <div class = "cast">{{cast}}</div>
    <div>
        {{#if poster_path}}
        <img src = https://image.tmdb.org/t/p/w342{{poster_path}}>
        {{else}}
        <img src = https://learn.getgrav.org/user/pages/11.troubleshooting/01.page-not-found/error-404.png>
        {{/if}}
    </div>
    <div class = "watched"></div>
    <div class = "rating"></div>
    {{!-- <button type="button">Delete</button> --}}
    <button type="button">Add to Watchlist</button>


</div>